[Unit]
Description=Pedal Markt Display player

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStart=/home/pedalmarkt/scripts/start_pedalmarkt_display
User=pedalmarkt
Group=pedalmarkt
Restart=always
RestartSec=10s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=graphical.target
